.medplan-main{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(243, 243, 243, 1);
}

.medplan-background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 3rem;
    position: relative;
}


.medbackground1-img1{
    width: 120%;
    height: 85vh;
    object-fit: contain;
}

.medbackground1-img2{
    width: 120%;
    height: 55vh;
    object-fit: contain;
    margin-left: -10%;
}

.medbackground1-img3{
    width: 55%;
    height: 80vh;
    object-fit: contain;
    margin-top: -5%;
}

.medbackground1-img4{
    width: 78%;
    height: 110vh;
    object-fit: contain;
    margin-top: -8%;
}

.medbackground1-img5{
    width: 130%;
    height: 55vh;
    object-fit: contain;
    margin-top: -15%;
}

.medbackground1-img6{
    width: 120%;
    height: 85vh;
    object-fit: contain;
    margin-top: 80%;
}

.medplan-background1{
    margin-top: 5%;
}

.medplan-background2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4%;
}

.medplan-background3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;

}

.medplan-title > h1{
    color: rgba(18, 18, 18, 1);
    font-size: 4rem;
    font-weight: 300;
    line-height: 88.4px;
    text-align: center;
}

.medplan-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 29%;
    margin: auto;
}

.medplan-logo{
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.medplan-details{
    width: 70%;
    margin: 3rem auto;
    text-align: center;
}

.medplan-details > h1{
    color: rgba(18, 18, 18, 1);
    font-size: 4rem;
    font-weight: 500;
    line-height: 88.4px;
    text-align: center;
}

.medplan-details > p{
    color: rgba(18, 18, 18, 1);    
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 31.2px;
    text-align: center;
}

.medplan-med-containers{
    width: 95%;
    margin: 1rem auto;
}

.medplan-container-info > h1{
    font-size: 54px;
    font-weight: 600;
    line-height: 70.2px;
    text-align: left;
    color: rgba(53, 151, 242, 1);    
}

.medplan-props-container{
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem 4rem 1rem 4rem;
    border-radius: 23px;
}

.med-props-text{    
    width: 44.74vw;
}

.med-props-text > h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    text-align: left;
    color: rgba(18, 18, 18, 1);    
}

.med-props-text > p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    margin-top: 15%;
}

.med-props-text > h2{
    color: rgba(61, 68, 195, 1);
    padding-top: 20%;
    padding-bottom: 2rem;
}


.med-props-text > h3{
    color: rgba(98, 42, 255, 1);
    padding-top: 20%;
    padding-bottom: 2rem;
}


.med-rem-props{
    display: flex;
    flex-direction: row;
}

.med-rem-ctn > img{
    width: 49.167vw;
    height: auto;
}

.med-rem-ctn2 > img{
    width: 17.135vw;
    height: auto;
    object-fit: cover;
    margin-left: 10vw;
}

.medplan-container-info1{
    margin-top: 15vh;
}

.medplan-container-info1 > h1{
    font-size: 54px;
    font-weight: 600;
    line-height: 70.2px;
    text-align: left;
    color: rgba(61, 68, 195, 1);   
}

.med-health-props{
    background-color: rgba(255, 255, 255, 1);
    padding: 6rem 4rem 0 1rem;
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.med-health-img {
    width: 34.25vw;
    margin-bottom: -1vw;
    object-fit: cover;
}

.med-health-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5%;
}

.med-health-ctn{
    width: 45%;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    padding: 2rem 1rem 0 1.5rem;
}

.med-health-ctn > img{
    width: 32.792vw;
    height: auto;
    margin: 0 10%;
    object-fit: contain;
}

.med-health-ctn > h2{
    color: rgba(61, 68, 195, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;    
}

.med-health-ctn > p{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.0017em;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);    
}

.med-health-ctn2{
    width: 45%;
    overflow: hidden;
    border-radius: 24px;
    padding: 3rem 1rem 0 3rem;
    background: linear-gradient(154.53deg, #3D44C3 -2.77%, #3D44C3 10.78%, #7663B0 78.83%, #3DA5C3 136.17%);
}

.med-health-ctn2 > img{
    width: 8.854vw;
    height: auto;
    margin-bottom: 4rem;
}

.med-health-ctn2 > h2{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;   
    margin-bottom: 14%; 
}

.med-health-ctn2 > p{
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.medplan-container-info2{
    margin-top: 4rem;
}

.medplan-container-info2 > h1{
    font-size: 58px;
    font-weight: 600;
    line-height: 75.4px;
    text-align: left;
    color: rgba(115, 180, 57, 1);    
}

.med-lang-props{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 0 2% 0;
}

.med-lang-ctn{
    background: linear-gradient(155.2deg, #73B439 -5.43%, #BCD69B 62.04%, #FFFFFF 122.56%);
    padding: 2rem;
    border-radius: 24px;
    width: 44%;
}

.med-lang-ctn > h1{
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    text-align: left;    
    padding-bottom: 20%;
}

.med-lang-ctn > img{
    width: 8.854vw;
    height: auto;
    margin-top: 17%;
}

.med-lang-ctn1{
    width: 44%;
    padding: 2rem;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
}

.med-lang-ctn1 > h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    color: rgba(115, 180, 57, 1);    
}

.med-lang-ctn1 > img{
    width: 42.448vw;
    height: auto;
}

.medplan-container-info3{
    margin-top: 16vh;
}

.medplan-container-info3 > h1{
    font-size: 54px;
    font-weight: 600;
    line-height: 70.2px;
    text-align: left;
    color: rgba(5, 100, 193, 1);
}

.med-props-container{
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem 4rem 0 4rem;
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.med-record-ctn > img{
    width: 35.417vw;
}

.med-record-ctn1 > img{
    width: 35.521vw;
    height: auto;
    margin-bottom: -1vh;
    margin-left: 10vw;
}

.med-record-ctn1 > h2{
    color: rgba(5, 100, 193, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: right;    
}

.med-record-ctn1 > p{
    color: rgba(18, 18, 18, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 52.4px;
    text-align: right; 
    width: 45.896vw;   
}

.med-rec2-ctn{
    width: 45%;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    padding: 2rem 1rem 0 1.5rem;
}

.med-rec2-ctn > img{
    width: 28.646vw;
    height: auto;
    padding: 15% 0;
    margin: 0 15%;
}

.med-rec2-ctn > h2{
    color: rgba(8, 83, 161, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;    
}

.med-rec2-ctn > p{
    color: rgba(18, 18, 18, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;    
}

.med-rec2-ctn2{
    width: 45%;
    border-radius: 24px;
    background: linear-gradient(155.9deg, #007CEE 0.3%, #121832 100.18%);
    overflow: hidden;
    padding: 2rem 1rem 0 3rem;
}

.med-rec2-ctn2 > img{
    width: 8.854vw;
    height: auto;
    margin-top: 15%;
}

.med-rec2-ctn2 > p{
    color: rgba(255, 255, 255, 1);
    font-size: 52px;
    font-weight: 600;
    line-height: 67.6px;
    text-align: left;    
    margin-top: 5%;
}

.med-rec2-ctn2 > h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    color: rgba(255, 255, 255, 1);    
}

.medplan-container-info4{
    margin-top: 7vh;
}

.medplan-container-info4 > h1{
    color: rgba(0, 212, 54, 1);
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    text-align: left;    
}

.med-tele-ctn2 > img{
    width: 38.021vw;
    height: auto;
}

.med-tele-ctn{
    width: 33.438vw;
    padding-top: 5%;
}

.med-tele-ctn > h1{
    color: rgba(18, 18, 18, 1);
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    text-align: left;    
}

.med-tele-ctn > h2{
    color: rgba(0, 212, 54, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;    
}

.med-tele-ctn > p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;    
    margin-bottom: 19%;
    margin-top: 15%;
}